In [2]:
import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

# Lab: Titanic EDA

This week was all about Pandas and plotting. At this point you should be chomping at the bit to get your hands dirty on a real-world dataset.

For this lab, we're going to take a look at the Titanic manifest. We'll be exploring this data to see what we can learn regarding the survival rates of different groups of people.

## Prework
Fork and clone this repo. At the end of this lab, you'll submit a pull request using the `Titanic.ipynb` notebook to answer the questions below.

## Step 1: Reading the data

1. Go to [https://www.kaggle.com/c/titanic/data](https://www.kaggle.com/c/titanic/data)
2. If you scroll down the page a bit, you'll see a data dictionary explaining each of the columns. Take a minute to familiarize yourself with how the csv is structured.
4. Download the `train.csv` file into this project
3. Create an iPython notebook and load the csv into pandas.

In [7]:
df = pd.read_csv('train.csv')

df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Step 2: Cleaning the data
1. Create a bar chart showing how many missing values are in each column
2. Which column has the most `NaN` values? How many cells in that column are empty?
3. Delete all rows where `Embarked` is empty
4. Fill all empty cabins with **¯\\_(ツ)_/¯**

Note: `NaN`, empty, and missing are synonymous.

In [ ]:
df_temp =df.isnull().sum()
df_temp.plot.bar()

Cabin has the most NaN values at 687.

In [ ]:
df['Embarked'] = df['Embarked'].dropna

In [ ]:
#df['Cabin'] = df['Cabin'].replace('NaN',' ¯\(ツ)/¯')

df['Cabin'].fillna(' ¯\(ツ)/¯',inplace = True)

In [ ]:
df['Age'].fillna(' empty',inplace = True)

## Step 3: Feature extraction
1.  There are two columns that pertain to how many family members are on the boat for a given person. Create a new column called `FamilyCount` which will be the sum of those two columns.
2. Reverends have a special title in their name. Create a column called `IsReverend`: 1 if they're a preacher, 0 if they're not.
3. In order to feed our training data into a classification algorithm, we need to convert our categories into 1's and 0's using `pd.get_dummies`
  - Create 3 columns: `Embarked_C`, `Embarked_Q` and `Embarked_S`. These columns will have 1's and 0's that correspond to the `C`, `Q` and `S` values in the `Embarked` column
  - Do the same thing for `Sex`
  - BONUS: Extract the title from everyone's name and create dummy columns

In [10]:
df = pd.get_dummies(df, columns = ['Embarked'])

KeyError: "['Embarked'] not in index"

## Step 4: Exploratory analysis
1. What was the survival rate overall?
2. Which gender fared the worst? What was their survival rate?
3. What was the survival rate for each `Pclass`?
4. Did any reverends survive? How many?
5. What is the survival rate for cabins marked **¯\\_(ツ)_/¯**
6. What is the survival rate for people whose `Age` is empty?
7. What is the survival rate for each port of embarkation?
8. What is the survival rate for children (under 12) in each `Pclass`?
9. Did the captain of the ship survive? Is he on the list?
10. Of all the people that died, who had the most expensive ticket? How much did it cost?
11. Does having family on the boat help or hurt your chances of survival?

In [ ]:
for each in df['Survived'].value_counts():
    t= each/890
    print(t)

In [ ]:
df.groupby(["Sex","Survived"]).size()

In [ ]:
df.groupby(["Pclass","Survived"]).size()

In [ ]:
titanic = df.drop(['Age', 'Parch', 'Ticket', 'Fare', 'Cabin'], axis=1)

In [ ]:
titanic['Title'] = titanic.Name.apply(lambda name: name.split(',')[1].split('.')[0].strip())
titanic

In [ ]:
titanic.groupby(["Title","Survived"]).size()

In [ ]:
df.groupby(['Cabin','Survived']).size()

In [ ]:
df.groupby(['Age','Survived']).size()

In [ ]:
df.groupby(['Embarked','Survived']).size()

In [ ]:
age_temp = df.query('Age < 12')
age_temp.groupby(['Pclass','Survived']).size()

In [ ]:
ticket_temp = df.query('Survived == 0')
ticket_temp['Fare'].sort_values(ascending= False)

In [ ]:
titanic['Last'] = df.Name.apply(lambda name: name.split(',')[0].split('.')[0].strip())
titanic

In [ ]:
family = titanic.query('SibSp > 1')
family_count = family['Survived'].value_counts()

family_count[0]/(family_count[0]+family_count[1])

In [ ]:
no_family = titanic.query('SibSp < 1')
no_family_count = no_family['Survived'].value_counts()

(no_family_count[0]/(no_family_count[0]+no_family_count[1]))*100

## Step 5: Plotting
Using Matplotlib and Seaborn, create several charts showing the survival rates of different groups of people. It's fine if a handful of charts are basic (Gender, Age, etc), but what we're really looking for is something beneath the surface.

In [ ]:
class_survival_plot = df.groupby('Pclass')['Survived'].mean()
plt1 = class_survival_plot.plot.bar(title='Survival Rate by Class')
plt1

In [ ]:
sex_survival_plot = df.groupby('Sex')['Survived'].mean()
plt2 = sex_survival_plot.plot.bar(title='Survival Rate by Sex', sharey = True)
plt2

In [ ]:
title_survival_plot = titanic.groupby('Title')['Survived'].mean()
plt3 = title_survival_plot.plot.bar(title='Survival Rate by Sex', sharey = True)
plt3

In [ ]:
title_survival_plot = df.groupby('Sex')['Fare'].mean()
plt4 = title_survival_plot.plot.bar(title='Fare by Sex', sharey = True)
plt4