In [98]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [71]:
spray = pd.read_csv('./spray.csv')

In [40]:
spray.dropna(inplace = True)

#Dropped NaN time values (total 584 values dropped or 3.9% of data)

In [61]:
spray.head()

#This dataset is showing the Date/Time and Location of Zenivex mosquito spray in the Chicago area.  
#Below is some notable EDA points in the data and some insights into how they can be interpreted.
### As of Tuesday I am yet to understand if these are individual instances of spray 
### based on a certain amount (gallon/cup/etc..) or just a "burst" of spray.

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [60]:
#spray['Time'] = pd.to_datetime(spray['Time'])
spray['Time'].value_counts().sort_values(ascending = False)
#spray[spray['Time'] == '7:44:32 PM']['Date']

## I was intitially inclined to simple delete this time, or at the very least reduce it to a more appropriate size relative to the other times in the data,
## but as we see this seems to be a repeated value for the 2011-09-07 spray and could be worth while considering while modeling.  
# This could simply be a time error or is purposfully indicated this way to denote a major spray dump at 7:45.   

spray[spray['Date']=='2011-09-07'].shape

# Continuing from above, there is a a major spray that occurred here but it is properly spread across the various times throughout the day.  
# Still unsure on the validity of the 7:45 time.

#News Coverage of the Sprays that match the Long/Lat locations and Date:
#https://www.dnainfo.com/chicago/20140903/norwood-park/northwest-side-neighborhoods-targeted-again-for-west-nile-mosquito-spraying

7:44:32 PM     541
9:40:27 PM       5
8:57:46 PM       5
9:35:47 PM       5
9:31:27 PM       5
8:55:26 PM       5
8:58:26 PM       5
9:05:56 PM       5
9:37:27 PM       5
9:38:27 PM       5
8:55:36 PM       5
8:55:46 PM       5
8:59:06 PM       5
8:57:56 PM       5
8:58:56 PM       5
8:31:11 PM       4
10:02:15 PM      4
9:33:37 PM       4
8:38:05 PM       4
8:26:26 PM       4
9:05:46 PM       4
9:40:07 PM       4
8:28:21 PM       4
8:58:55 PM       4
9:10:56 PM       4
9:09:46 PM       4
9:11:16 PM       4
8:59:46 PM       4
9:04:35 PM       4
9:42:15 PM       4
              ...
8:43:39 PM       1
9:56:25 PM       1
11:16:18 PM      1
11:47:11 PM      1
9:02:13 PM       1
7:33:51 PM       1
9:14:20 PM       1
8:28:42 PM       1
8:46:12 PM       1
8:59:30 PM       1
9:00:34 PM       1
10:03:59 PM      1
11:16:30 PM      1
9:22:30 PM       1
7:59:31 PM       1
8:34:42 PM       1
8:44:32 PM       1
9:40:25 PM       1
8:57:02 PM       1
8:22:23 PM       1
10:13:08 PM      1
10:09:34 PM      1
7:49:16 PM       1
9:36:00 PM       1
7:50:23 PM       1
9:50:09 PM       1
10:50:01 PM      1
10:09:29 PM      1
11:26:38 PM      1
8:32:09 PM       1
Name: Time, Length: 8583, dtype: int64

In [104]:
spray['Date'].value_counts()
# Spraying Occurred on 10 different days throughout 2011 and 2013.  
# Earliest Spray - 2011-08-29. Most Recent Spray - 2013-09-05

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2011-09-07    2114
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [107]:
adjusted = spray[spray['Time'] != '7:44:32 PM']
adjusted['Date'].value_counts()

# Date distribution after the 7:45 time adjustment.
# '2011-09-07' decreases by ~540

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2013-07-25    1607
2013-08-22    1587
2011-09-07    1573
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64