In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt

In [70]:
spray = pd.read_csv('./spray.csv')

In [3]:
spray.dropna(inplace = True)

#Dropped NaN time values (total 584 values dropped or 3.9% of data)

In [4]:
spray.head()

#This dataset is showing the Date/Time and Location of Zenivex mosquito spray in the Chicago area.  
#Below is some notable EDA points in the data and some insights into how they can be interpreted.
### As of Tuesday I am yet to understand if these are individual instances of spray 
### based on a certain amount (gallon/cup/etc..) or just a "burst" of spray.

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [5]:
#spray['Time'] = pd.to_datetime(spray['Time'])
spray['Time'].value_counts().sort_values(ascending = False)
#spray[spray['Time'] == '7:44:32 PM']['Date']

## I was intitially inclined to simple delete this time, or at the very least reduce it to a more appropriate size relative to the other times in the data,
## but as we see this seems to be a repeated value for the 2011-09-07 spray and could be worth while considering while modeling.  
# This could simply be a time error or is purposfully indicated this way to denote a major spray dump at 7:45.   

spray[spray['Date']=='2011-09-07'].shape

# Continuing from above, there is a a major spray that occurred here but it is properly spread across the various times throughout the day.  
# Still unsure on the validity of the 7:45 time.

#News Coverage of the Sprays that match the Long/Lat locations and Date:
#https://www.dnainfo.com/chicago/20140903/norwood-park/northwest-side-neighborhoods-targeted-again-for-west-nile-mosquito-spraying

(1530, 4)

In [6]:
spray['Date'].value_counts()
# Spraying Occurred on 10 different days throughout 2011 and 2013.  
# Earliest Spray - 2011-08-29. Most Recent Spray - 2013-09-05

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2013-07-25    1607
2013-08-22    1587
2011-09-07    1530
2013-08-08    1195
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [7]:
adjusted = spray[spray['Time'] != '7:44:32 PM']
adjusted['Date'].value_counts()

# Date distribution after the 7:45 time adjustment.
# '2011-09-07' decreases by ~540

2013-08-15    2668
2013-08-29    2302
2013-07-17    2202
2013-07-25    1607
2013-08-22    1587
2013-08-08    1195
2011-09-07     989
2013-09-05     924
2013-08-16     141
2011-08-29      95
Name: Date, dtype: int64

In [48]:
sprays =pd.get_dummies(adjusted['Date'])

In [28]:
temp = pd.concat([adjusted,sprays], axis = 1)

In [ ]:
#merge '2013-08-15' and 2013-08-16

In [66]:
mask = {'2011-08-29': 'Spray 1', '2011-09-07': 'Spray 2', '2013-07-17':'Spray 3','2013-07-25': 'Spray 4', '2013-08-08':'Spray 5', '2013-08-15':'Spray 6', '2013-08-22': 'Spray 7','2013-08-29':'Spray 8', '2013-09-05':'Spray 9'}

In [ ]:
#2013-07-25	2013-08-08	2013-08-15

In [57]:
sprays['2013-08-15'].value_counts()

0    11042
1     2668
Name: 2013-08-15, dtype: int64

In [62]:
sprays['2013-08-15'][sprays['2013-08-16'] == 1] = 1

In [63]:
sprays['2013-08-15'].value_counts()

0    10901
1     2809
Name: 2013-08-15, dtype: int64

In [64]:
sprays.drop('2013-08-16', axis = 1, inplace = True)

In [73]:
sprays = sprays.rename(columns = mask)

In [75]:
Spray = pd.concat([spray,sprays],axis =1 )

In [83]:
Spray.to_csv("Spray.csv")